.nav{
    
   display: flex;

}
.nav ul{
    

}
.nav ul li{
    display: inline-block;
    margin: 60px;;
}
.p1{
    color: yellow;
    margin: 80px;
}
.p2{
    color: gray;
    margin: 80px;
}
.image1{
    size: 20px;
}
.div1{
    float:right;    
 margin: 0 0 0 15px;
}

h3{
    margin: 60px;
}
.movers{
    background-color: gainsboro;
}