img{
    max-width: 100%;
    height: auto;
    padding-left: 40px;
    margin: auto;
}

.container2 img{
    margin-top: 30px;
    margin-top:100px;
    margin-left:5px;
    display:inline;

}
.links{
    
    position: absolute;
    top: 8px;
    right: 12px;
    padding-right: 300px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 20px;
    display: block;

}
.link1{
    margin-left: 20px;
    text-decoration: none;
    color:white;
}
.button1{
    margin-left: 20px;
    text-decoration: none;
    background-color: #FAFF00;
    color: black;
    
}
.button2{
    margin-left: 20px;
    text-decoration: none;
    color:#FAFF00 ;
    background-color: black;
}
.container2 button{
    margin-left: 20px;
    text-decoration: none;
    color:#FAFF00 ;
    background-color: black;
   
}
.h1p{
    color: #FAFF00;
}
.p1{
    color: grey;
}
.container1{
    display: flex;

}
.container2{
    display: flex;
    display: block;
    size: 100px;
}
.h31{

}
.b1{
    color: #FAFF00;
}